<html>
<head>
    <title>Messages</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{message}}</h1>
    </div>
</body>
</html>